name: Deploy Flask App to EC2

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

      - name: Deploy to EC2
        run: |
          ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa ${{ secrets.DEPLOY_USER }}@${{ secrets.DEPLOY_HOST }} << 'EOF'
            cd /home/ubuntu/lab1/lab4/lab4/app
            git pull
            source ../../venv/bin/activate
            python -m pip install --upgrade pip
            python -m pip install -r app/requirements.txt
            python -m pip install werkzeug==2.3.7
            python -m pip install --upgrade flask sqlalchemy flask-sqlalchemy alembic
            sudo systemctl daemon-reload
            sudo systemctl restart lab1
          EOF

